<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CS" connectionString="server=DESKTOP-26JC778;database=ReadXml;itegrated security = true"/>
	</connectionStrings>
</configuration>